#Kuler Preference

###Summary
- 07/06/15
    - We finally implement user preference in a clustering analysis (kmeans).
    - Scale preference (normalize) -> come up with an integer for # of likes -> duplicate -> run kmeans

##Import modules

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import scipy as sp

# plotting
import matplotlib.pyplot as plt
import matplotlib.cm as pltcm
%matplotlib inline

##load dataframes and ndarrays

In [4]:
df = pd.read_pickle('kuler_df')
df_ = pd.read_pickle('kuler_df_')
df_all = pd.read_pickle('kuler_df_all')
data_pair = np.load('kuler_data_pair.npy')
data_LabAll = np.load('kuler_data_LabAll.npy')

In [5]:
df.head()

,id,name,C1,C2,C3,C4,C5,Likes,Time,AuthorID,ReviewCounts,ReviewAvr,Views,Comments,tags,c1,c2,c3,c4,c5
0,15325,sandy stone beach ocean diver,E6E2AF,A7A37E,EFECCA,046380,002F2F,13707,2007-01-18 08:51:12,17923,1755,3.90,39612,339,"[{u'value': u'beach'}, {u'value': u'diver'}, {...","[230, 226, 175]","[167, 163, 126]","[239, 236, 202]","[4, 99, 128]","[0, 47, 47]"
1,24198,Firenze,468966,FFF0A5,FFB03B,B64926,8E2800,10737,2007-03-01 00:42:36,17772,1441,3.89,28750,186,"[{u'value': u'bellagio'}, {u'value': u'boot'},...","[70, 137, 102]","[255, 240, 165]","[255, 176, 59]","[182, 73, 38]","[142, 40, 0]"
2,22361,Neutral Blue,FCFFF5,D1DBBD,91AA9D,3E606F,193441,8993,2007-02-22 00:06:18,17772,556,3.78,18051,54,"[{u'value': u'adult'}, {u'value': u'azure'}, {...","[252, 255, 245]","[209, 219, 189]","[145, 170, 157]","[62, 96, 111]","[25, 52, 65]"
3,1764754,Phaedra,FF6138,FFFF9D,BEEB9F,79BD8F,00A388,7108,2012-02-14 16:36:28,243670,149,4.06,10185,18,[],"[255, 97, 56]","[255, 255, 157]","[190, 235, 159]","[121, 189, 143]","[0, 163, 136]"
4,1490158,Honey Pot,105B63,FFFAD5,FFD34E,DB9E36,BD4932,6352,2011-09-03 16:14:04,422481,261,4.09,9708,50,"[{u'value': u'bee'}, {u'value': u'bottle'}, {u...","[16, 91, 99]","[255, 250, 213]","[255, 211, 78]","[219, 158, 54]","[189, 73, 50]"